input-autocomplete[__custom-input="true"] {
  display: inline-block;
  border: unset;
  padding: unset;
}

input-autocomplete > input[type='search'] {
  width: 100%;
  box-sizing: border-box;
}

input-autocomplete.invalid > input[type='search'] {
  background: var(--project-color-input-invalid-bg);
  border: 1px solid var(--project-color-input-invalid-border);
}  
input-autocomplete option {
  display: none;
}