:where(cobalt-carousel) {
    display: flex;
    overflow-x: scroll;
    height: 25em;
    width: 100%;
    
}

:where(cobalt-carousel > a) {
    height: 100%;
    min-width: 33%;
    width: 33%;
}

:where(cobalt-carousel img) {
    height: 100%;
    min-width: 33%;
    width: 33%;
    object-fit: cover;
}

:where(cobalt-carousel > a img) {
    width: 100%;
}