/** COUNTDOWN TIMER **/
countdown-timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

countdown-timer .clock-segment {
    height: 2em;
    width: 2.2ch;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    border: 1px solid var(--project-color-input-border-nofocus);
    background-color: var(--project-color-input-disabled);
    color: var(--project-color-input-text-color);
    margin: .1em;
    border-radius: .3em;
}

/* countdown-timer .clock-segment.colon {
    width: 1.1ch;
} */

countdonw-timer:empty:before {
    content: "";
    height: 2em;
    margin: .1em;
    border-radius: .3em;
    background-color: var(--project-color-input-disabled);
    border: 1px solid var(--project-color-input-border-nofocus);
}