:where(fold-out){
    display: block;
    transition: height .3s;
    height: var(--height);
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
    white-space: pre-wrap;
}

:where(fold-out.fold-out--closed ){
    height: var(--closed-height);
}

:where(fold-out > label:first-of-type ){
    display: flex;
    background: var(--project-color-table-bg-even);
    border: var(--project-color-table-border);
    margin-bottom: 2px;
    cursor: pointer;
    justify-content: space-between;
    padding: .2em .4em;
}

:where(fold-out > label:first-of-type:hover ){
    background-color: var(--project-color-table-bg-odd);
}

:where(fieldset fold-out label:first-of-type) {
    font-weight: normal;
    font-size: 16px;
    font-family: var(--project-body-family);
    text-transform: none;
}


:where(fold-out > label i:before ){
    content: '\25B2';
    font-size: .8em;
    color: rgba(0,0,0,.6)
}

:where(fold-out > label i ){
    transition: transform .8s;
    line-height: 28px;
}

:where(fold-out.fold-out--closed > label i ){
    transform: rotate(180deg);
}