horizontal-scroll {
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: grab;
}

horizontal-scroll > * {
    vertical-align:middle;
}

horizontal-scroll.active {
    cursor: grabbing
}

horizontal-scroll.active > * {
    pointer-events: none;
    user-select: none;
}

horizontal-scroll > img {
    pointer-events: none;
}
horizontal-scroll[paginated] {
    scroll-behavior: smooth;
}

horizontal-scroll[paginated]:not(.active) {
    scroll-snap-type: x proximity;
}

horizontal-scroll[paginated] > * {
    scroll-snap-align: left;
}

horizontal-scroll[paginated="center"] > * {
    scroll-snap-align: center;
}

