<h1 id="internal_name">{{title}}</h1>
<form-request method="PUT" action="/api/v1/cobalt-events/update/{{event._id}}">
    <div id="event-edit">
        <fieldset class="admin-panel--container">
            <legend>Basic Info</legend>

            <label>Internal Name
                <input name="name" value="{{event.name}}" for="#internal_name">
            </label>
            <label>Event Type
                <select name="type" value="{{event.type}}">
                    {{!event.type.options}}
                </select>
            </label>
            <label>"Display Again" Policy <help-span value="When to display the event again after closure."></help-span>
                <select name="session_policy" value="{{event.session_policy}}">
                    {{!event.session_policy.options}}
                </select>
            </label>
            <label>Event Starts</label>
            <input type="date" name="start_date" value="{{event.start_date}}">
            <input type="time" name="start_time" value="{{event.start_time}}">
            <label>Event Ends</label>
            <input type="date" name="end_date" value="{{event.end_date}}">
            <input type="time" name="end_time" value="{{event.end_time}}">
            <label class="hbox" style="justify-content:left;gap:1ch;">
                <input-switch name="published" checked="{{event.published}}"></input-switch> Published
                <help-span value="In order for an event to be displayed, this switch must be 'on'."></help-span>
            </label>
            <async-button method="DELETE" action="/api/v1/cobalt-events/{{event._id}}">Delete</async-button>
        </fieldset>
        
        <fieldset class="admin-panel--container">
            <legend>Content</legend>
            <label id="charlimit">Headline
                <input name="headline" value="{{event.headline}}">
            </label>
            <!-- oninput="charlimit(120,'#charlimit')" -->
            <label>Body
                <textarea name="body">{{event.body.raw}}</textarea>
            </label>
            <label>Call to Action Text <help-span
                    value="The user will be presented with a button. This is the text of that button."></help-span>
                    <input name="call_to_action_prompt" value="{{event.call_to_action_prompt}}">
            </label>
            <label>CTA Link <help-span
                    value="When the user clicks the Call to Action button, this is where they'll be taken. May be a relative link or another URL.">
                </help-span>
                <input name="call_to_action_href" value="{{event.call_to_action_href}}" pattern="[^\s]">
            </label>
            <label>Background Color <help-span value="Choose the background color of your event.">
                </help-span>
            </label>
            <div class="hbox">
                <input type="color" name="bgColor" value="{{event.bgColor.display}}"
                    default="{{app.css-vars.events-banner-background}}">
                <button onclick="resetToDefault('bgColor')" style="margin-left:10px;">
                    <ion-icon name='refresh'></ion-icon>
                </button>
            </div>
            <label>Text Color <help-span value="Choose the text color for your event.">
                </help-span></label>
            <div class="hbox">
                <input type="color" name="txtColor" value="{{event.txtColor.display}}"
                    default="{{app.css-vars.events-banner-text}}">
                <button onclick="resetToDefault('txtColor')" style="margin-left:10px;">
                    <ion-icon name='refresh'></ion-icon>
                </button>
            </div>
            <label>CTA Button Color <help-span
                    value="Choose the background color of the 'Call To Action' button. A contrasting color will be automatically assigned.">
                </help-span></label>
            <div class="hbox">
                <input type="color" name="btnColor" value="{{event.btnColor.display}}"
                    default="{{app.css-vars.color-button-init}}">
                <button onclick="resetToDefault('btnColor')" style="margin-left:10px;">
                    <ion-icon name='refresh'></ion-icon>
                </button>
            </div>

        </fieldset>
        <fieldset id="fieldset" class="admin-panel--container">
            <legend>Advanced</legend>
            <label>Included paths <help-span
                    value="If the user has navigated to a path which matches one of the entries on this list, this event will be considered 'showable'. Leave blank to ignore.">
                </help-span>
            </label>
            <input-array name="advanced.included_paths" value="{{@event.advanced.included_paths}}" allow-custom="true">
                {{!event.advanced.included_paths.options}}
            </input-array>
            <label>Excluded paths <help-span
                    value="If the URL path name matches an entry in this list, then the path will be considered excluded and the event will not be shown. Leave blank to ignore.">
                </help-span>
            </label>
            <input-array name="advanced.excluded_paths" value="{{@event.advanced.excluded_paths}}" allow-custom="true">
                {{!event.advanced.excluded_paths.options}}
            </input-array>
            <label>
                <input-switch name="advanced.exclusive" checked="{{event.advanced.exclusive}}"></input-switch> Exclusive
                <help-span value="An exclusive event will prevent other events from displaying."></help-span>
            </label>
            <label>
                <label>Delay time <help-span value="Number of seconds to wait until this event gets showed. Max is 90">
                    </help-span></label>
                <input type="number" name="advanced.delay" value="{{event.advanced.delay}}">
            </label>
            <label>Container ID <help-span
                    value="The container of this event will be given this ID. (Useful if you want to bind CSS to this event)">
                </help-span>
                <input name="container_id" value="{{event.container_id}}">
            </label>
        </fieldset>
    </div>
    <input type="submit" value="Save">
</form-request>

<style>
    fieldset :is(h1, h2, h3) {
        margin-top: 0;
    }

    #event-edit {
        display: flex;
        flex-wrap: wrap;
    }

    .admin-panel--container {
        padding: .2rem .4rem;
        border: 1px solid var(--project-color-input-border-nofocus);
        border-radius: 4px;
    }

    input[type='color'] {
        width: 100%;
        height: 36px;
    }
</style>

<script>
    function resetToDefault(target) {
        target = document.querySelector(`[name='${target}']`)
        const reset = target.getAttribute("default");
        target.value = reset;
    }
</script>