<form-request method="PUT" action="/api/v1/add-user/">
    <fieldset>
        <label>Username</label>
        <input type="username" name="uname">
        <label>Password</label>
        <input type="password" name="pword">
    </fieldset>
    <fieldset>
        <label>Name</label>
        <input name="fname" placeholder="First name"> <input name="lname" placeholder="Last name">
    </fieldset>
    <fieldset>
        <label>Contact</label>
        <input type="email" name="email" placeholder="Email address">
        <input type="phone" name="phone" placeholder="Phone Number">
    </fieldset>
</form-request>