<hgroup>
    <div class="vbox">
        <h1><span id="fname">{{user_account.fname}}</span> <span id="lname">{{user_account.lname}}</span></h2>
        <label><span id="uname">{{user_account.uname}}</span> &mdash; <span id='user_id'>{{user_account._id}}</span></label>
    </div>
    <action-menu title="Manage User">
        <option method="DELETE" action="/api/v1/user/{{user_account._id}}/avatar" dangerous>Reset Avatar to Default</option>
        <option method="DELETE" action="/api/v1/user/{{user_account._id}}/delete" dangerous>Delete {{user_account.fname}}</option>
    </action-menu>
</hgroup>

    <tab-nav id="tab-list--parent">
        <nav>
            <a href="#basics" class="tab-nav--current-content">Basic Info</a>
            <a href="#push">Notifications</a>
            <a href="#permissions">Permissions</a>
            <!-- <a href="#statistics">Stats</a> -->
            {{!additional_button}}
            <a href="#manage">Manage</a>
        </nav>
        <section id="basics" class="">
            <form-request id="basic-info-form" method='PUT' action="/api/v1/user/{{user_account._id}}/update"
                autosave="autosave">
                <fieldset>
                    <legend>Basic Info</legend>
                <ul class="list-panel">
                    <li>
                        <label>Name</label>
                        <input name="fname" value="{{user_account.fname}}" placeholder="First name" for="#fname"> <input
                            name="lname" value="{{user_account.lname}}" placeholder="Last name" for="#lname">
                    </li>
                    <li>
                        <label>Username</label>
                        <input name="uname" value="{{user_account.uname}}" for="#uname">
                    </li>
                    <li>
                        <label>Email</label>
                        <input type="email" name="email" value="{{user_account.email}}">
                    </li>
                </ul>
                </fieldset>
            </form-request>
    
    
                <form-request id="profile-picture" method='POST' action="/api/v1/user/{{user_account._id}}/avatar">
                    <fieldset>
                        <legend>Profile Picture</legend>
                        <ul class="list-panel">
                            <li>
                                {{!user_account.avatar.display}}
                                <input type="file" name="avatar">
                                <button type="submit">Upload</button>
                            </li>
                        </ul>
                    </fieldset>
                </form-request>
        </section>
        {{!notifications}}
        <section id="permissions" class="drawer-list--item">
            <form-request id="permissions-form" method="PUT" action="/api/v1/user/{{user_account._id}}/permissions"
                autosave="autosave">
                <div style="flex-grow:1">
                    {{!permission_table.permissions}}
                </div>
                <div style="min-width:35%; padding: 0 0 1rem 1rem;">
                    <fieldset>
                        
                        <legend>Group Membership<help-span
                                value="Group membership grants the user *all* permissions for that group. However, any permissions the user has been granted/denied will be preserved.">
                            </help-span>
                        </legend>
                        {{!permission_table.groups}}
                    </fieldset>
                </div>
            </form-request>
        </section>
        {{!additional_panel}}
        <!-- <section id="statistics" class="drawer-list--item">
            <h2>Statistics</h2>
            <p>Placeholder section for {{user_account.uname}}'s statistics</p>
        </section> -->
        <section id="manage" class="drawer-list--item">
            <form-request id="account-flags" method="PUT" action="/api/v1/user/{{user_account._id}}/update"
                    autosave="autosave">
                <fieldset>
                    <legend>Account Flags</legend>
                    {{!account_flags}}
                </fieldset>
            </form-request>
            <form-request id="password-reset" method="PUT" action="/api/v1/user/{{user_account._id}}/password">
                <fieldset>
                    <legend>Change Password</legend>
                    <ul class='list-panel'>
                        <li>
                            <input type="password" name="pword" placeholder="Password" required="required">
                            <input type='submit' value="Save">
                        </li>
                    </ul>
                </fieldset>
            </form-request>
        </section>
    </tab-nav>

    <style>
        #basics.drawer-list--active {
            display: flex;
        }

        #permissions form-request {
            display: flex;
        }

        main tab-nav section form-request{
            display: block;
            width:100%;
        }
        #profile-picture li {
            position: relative;
        }

        #avatar-button {
            position: absolute;
            top: .5rem;
            right: .5rem;
            height: 2rem;
            width: 2rem;
        }

        ul.list-panel li {
            flex-wrap: wrap;
        }
        ul.list-panel label {
            flex-grow: 1;
        }
    </style>
