<h1><span id="fname">{{user_account.fname}}</span> <span id="lname">{{user_account.lname}}</span></h2>
    <h2><span id="uname">{{user_account.uname}}</span> &mdash; <span id='user_id'>{{user_account._id}}</span></h2>
    <div id="tab-list--parent">
        <ul class="tab-list--tab-row">
            <li><button for="basics" class="tab-list--active">Basics</button></li>
            <li><button for="permissions">Permissions</button></li>
            <li><button for="statistics">Stats</button></li>
            <li><button for="manage">Manage</button></li>
        </ul>
        <section id="basics" class="drawer-list--item drawer-list--active">
            <div>
                <h2>Basic Info</h2>
                <form-request id="basic-info-form" method='PUT' action="/api/v1/user_update/basics/{{user_account._id}}"
                    autosave="autosave">
                    <fieldset>
                        <label>Name</label>
                        <input name="fname" value="{{user_account.fname}}" placeholder="First name" for="#fname"> <input
                            name="lname" value="{{user_account.lname}}" placeholder="Last name" for="#lname">
                    </fieldset>
                    <fieldset>
                        <label>Username</label>
                        <input name="uname" value="{{user_account.uname}}" for="#uname">
                    </fieldset>
                    <fieldset>
                        <label>Email</label>
                        <input type="email" name="email" value="{{user_account.email}}">
                    </fieldset>
                </form-request>
            </div>
            <hr>
            <div>
                <h2>Change Password</h2>
                <form-request id="password-reset" method="PUT"
                    action="/api/v1/user_update/password/{{user_account._id}}">
                    <fieldset>
                        <input type="password" name="pword" placeholder="Password" required="required">
                    </fieldset>
                    <button>Change Password</button>
                </form-request>
            </div>
        </section>
        <section id="permissions" class="drawer-list--item">
            <form-request id="permissions-form" method="PUT"
                action="/api/v1/user_update/permissions/{{user_account._id}}" autosave="autosave">
                <div style="flex-grow:1">
                    <h1>Permissions</h1>
                    {{!permission_table.permissions}}
                </div>
                <div style="min-width:35%; padding: 0 0 1rem 1rem;">
                    <h1>Group Membership<help-span
                            value="Group membership grants the user *all* permissions for that group."></help-span>
                    </h1>
                    {{!permission_table.groups}}
                </div>
            </form-request>
        </section>
        <section id="statistics" class="drawer-list--item">
            <h2>Statistics</h2>
            <p>Placeholder section for {{user_account.uname}}'s statistics</p>
        </section>
        <section id="manage" class="drawer-list--item">
            <h2>Manage</h2>
            <form-request id="delete-user" method="DELETE" action="/api/v1/delete-user/{{user_account._id}}">
                <button type="submit">Delete</button>
            </form-request>
        </section>
    </div>
    <script src="/core-content/js/protected/UserManager.js?{{app.version}}"></script>

    <style>
        #basics.drawer-list--active {
            display: flex;
        }

        #permissions ul {
            list-style: none;
            padding: 0;
            margin-top: .5rem;
        }

        #permissions h2 {
            margin-bottom: 0;
        }

        #permissions li,
        #permissions h2 {
            display: flex;
            align-items: center;
        }

        #permissions li {
            padding: 1rem 0;
        }

        #permissions li:nth-of-type(odd) {
            background: rgba(0, 0, 0, .1);
        }

        #permissions input-switch {
            margin: 0 1rem 0 1rem;
        }

        #permissions-form .form-request--actual {
            display: flex;
        }
    </style>