<?xml version="1.0" encoding="UTF-8" ?>
<phpunit 
    colors="true"
    bootstrap="env.php"
    cacheResultFile="./ignored/.phpunit.result.cache"
>
    <php>
        <const name="UNIT_TESTS" value="true"/>
    </php>
    <testsuites>
        
        <testsuite name="end-to-end">
            <directory>Cobalt/Database/Drivers/MongoDb/test/</directory>
            <directory>Cobalt/DataModel/Tests/test</directory>
        </testsuite>
    </testsuites>
</phpunit>