<h1>Password Reset</h1>
<p>Hi there,</p>
<p>Someone at {{app.domain_name}} has initiated a password reset for this account.</p>
<p>If that was you, go ahead and click the button below to reset your password.</p>

<a href="https://{{app.domain_name}}/password-reset/{{token}}"
   style="display:block; padding: 1em .6em;background-color:{{app.vars-web.color-button-init}}; color:{{app.vars-web.color-button-text}}">
Reset Password</a>

<p>Or copy and paste this url: https://{{app.domain_name}}/password-reset/{{token}}</p>

<p>If that was NOT you, you might consider changing your passwords.</p>
