:root {
    --admin-panel-width: 200px;
}

nav#admin-panel .cobalt-masthead {
    width: var(--admin-panel-width);
    height: 150px;
    object-fit: contain;
}

nav#admin-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    width: var(--admin-panel-width);
    height: 100%;
    background: var(--project-color-admin-panel-background);
}

#admin-panel ul {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#admin-panel ul::-webkit-scrollbar {
    display: none;
}

#admin-panel li a {
    display: flex;
    flex-direction: column;
    /*     align-items:center; */
    justify-content: center;
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    color: var(--project-color-admin-panel-font);
    text-decoration: none;
    transition: background-color .3s, color .2s, padding-left .5s;
}

#admin-panel li a.nav-panel--active {
    background-color: white;
    color: black;
    padding-left: 20px;
}

#admin-panel li a:hover {
    background-color: white;
    color: black;
    padding-left: 20px;
}

#admin-panel + main {
    display: block;
    min-height: 80vh;
}

main {
    margin-left: var(--admin-panel-width);
    padding: 20px;
}

.cobalt-admin--fieldset{
    border: 1px solid var(--project-color-input-border-nofocus);
    padding: 4px 8px;
    border-radius: 4px;
}

#admin-panel form-request {
    background: var(--project-calendar-cell-bg);
    border: var(--project-action-menu-border);
}

#user-panel-header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: .8em;
    align-items: center;
    background: var(--project-color-user-panel-button);
}

#user-panel-header a {
    color:white;
}
