:root {
    --admin-panel-width: 200px;
}

nav#admin-panel a[is="real"][href="/"] {
    display: flex;
    justify-content: center;
}
nav#admin-panel .cobalt-masthead {
    width: calc(var(--admin-panel-width) - 10%);
    height: 150px;
    max-height: unset;
    object-fit: contain;
}

nav#admin-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    width: var(--admin-panel-width);
    height: 100%;
    background: var(--project-color-admin-panel-background);
    z-index: calc(var(--project-modal-z-index) - 1);
    color:  var(--project-color-admin-panel-font);
}

#admin-panel > ul.admin-panel--nav-group {
    flex-grow: 1;
    height: 100%;
    /* overflow-y: scroll; */
    scrollbar-width: thin;
}

#admin-panel ul::-webkit-scrollbar {
    display: none;
}

#admin-panel li a {
    display: flex;
    flex-direction: column;
    /*     align-items:center; */
    justify-content: center;
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    color: var(--project-color-admin-panel-font);
    text-decoration: none;
    transition: background-color .3s, color .2s, padding-left .5s;
}

#admin-panel li a.nav-panel--active {
    background-color: white;
    color: black;
    padding-left: 20px;
}

#admin-panel li a:hover {
    background-color: white;
    color: black;
    padding-left: 20px;
}

#admin-panel li {
    position: relative;
}

#admin-panel .directory--group li:hover ul.directory--submenu {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    background: var(--project-color-admin-panel-background);
    width: var(--admin-panel-width);
}

#admin-panel .settings-panel--footer {
    position: absolute;
    bottom: 0;
    left: 0;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    background: var(--project-color-user-panel-button);
    width: var(--admin-panel-width);
    padding: 5px 5px 2px;
    box-sizing: border-box;
}

#admin-panel .settings-panel--footer:empty {
    display: none;
}

#admin-panel .settings-panel--footer :is(a, notify-button) {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
    opacity: .5;
    transition: opacity .5s;
}

#admin-panel .settings-panel--footer :is(a, notify-button):hover {
    opacity: 1;
}

#admin-panel .settings-panel--footer notify-button[aria-pressed="true"] {
    opacity: 1;
}

#admin-panel .settings-panel--footer :is(i, notify-button) {
    font-size: 2em;
}

.contextual {
    display: none;
}

.contextual:focus {
    display: block;
}

#admin-panel + main {
    display: block;
    min-height: 80vh;
}

main {
    margin-left: var(--admin-panel-width);
    padding: 20px;
}

.cobalt-admin--fieldset{
    border: 1px solid var(--project-color-input-border-nofocus);
    padding: 4px 8px;
    border-radius: 4px;
}

#admin-panel form-request {
    background: var(--project-calendar-cell-bg);
    border: var(--project-action-menu-border);
}

#user-panel-header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: .8em;
    align-items: center;
    background: var(--project-color-user-panel-button);
}


#user-panel-header a {
    color:white;
}

@media only screen and (max-width: 35em) {
    :root {
        --admin-panel-width: 0;
    }
    
    nav#admin-panel{
        z-index: calc(var(--project-modal-z-index) - 10);
        translate: -100vw;
/*         left: -100vw; */
        width: 100vw;
        transition: translate .4s;
    }
    
    #admin-panel .settings-panel--footer {
        width: 100vw;
    }
    
    
    .js-nav-spawned nav#admin-panel {
        translate: 0;
    }
    
    #app-header {
        display: none
    }
}
