
:is(form-request,login-form-request) {
  display:block;
  position:relative;
  overflow:hidden;
}

:is(form-request,login-form-request) > section{
  position:absolute;
  height:100%;
  width:100%;
  transition: transform .5s, opacity .5s;
}

:is(form-request,login-form-request) > section.form-request--actual{
  position: relative;
}

:is(form-request,login-form-request) > .form-request--processing {
  top:0;
}

:is(form-request,login-form-request) > .form-request--complete {
  top:0;
}

:is(form-request,login-form-request) > section.current.current{
  transform: translateX(0);
  opacity: 1;
}

:is(form-request,login-form-request) > section.next{
  transform: translateX(100%);
  opacity: 0;
}

:is(form-request,login-form-request) > section.previous{
  transform: translateX(-100%);
  opacity: 0;
}

.current-to-previous{
  transform: translateX(100%);
}