/** Inputs */

input, textarea {
  border: 1px solid var(--project-color-input-border-nofocus);
  background: var(--project-color-input-background);
  padding: .4rem;
  border-radius: 4px;
  font-size: 1.1rem;

}

  input[invalid],
  textarea[invalid],
  input-array[invalid] {
    border: 1px solid var(--project-color-input-invalid-border);
    background: var(--project-color-input-invalid-bg);
  }

  pre.form-request--field-issue-message{
    background: var(--project-color-input-invalid-border);
    color: var(--project-color-input-invalid-label-text);
    font-size: .9rem;
    padding: .2rem;
  }

  input:focus{
    border: 1px solid var(--project-color-input-border-focus);
  }

  input::placeholder, input + .placeholder {
    color: var(--project-color-input-border-nofocus);
    background: transparent;
    position: absolute;
    transition: top 300ms, left 300ms, color 300ms, font-size 300ms;
    top:10px;
    left:10px;
    opacity: 1;
  }

  :focus-within .placeholder,
  input::not(:placeholder-shown) + .placeholder{
    color: var(--project-color-input-border-focus);
    background: var(--project-color-input-background);
    font-weight: bold;
    top:5px;
    left:5px;
  }
  input:focus::placeholder {
    color: var(--project-color-input-border-focus);
  }

input:focus, textarea:focus {
  background: var(--project-color-input-disabled);
  box-shadow: none;
}

input:disabled, textarea:disabled {
  background: var(--project-color-input-disabled);
}

/** BUTTON LINKS **/

.button {
  --btn-normal: var(--project-color-button-init);
  --btn-text: var(--project-color-button-text);
  --btn-hover: var(--project-color-button-hover);
  --btn-hover-text: var(--project-color-button-text-hover);
  background-color: var(--btn-normal);
  color: var(--btn-text);
  padding: .7rem 1.4rem;
  border-radius: 2rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
  white-space: nowrap;
  box-sizing: border-box;
}

a.button {
  color: var(--btn-text);
}

.button.light-alt {
  --btn-normal: rgba(255, 255, 255, .8);
  --btn-text: #000;
  --btn-hover: #FFF;
  --btn-hover-text: #000;
  border: 1px solid;
}

.button.dark-alt {
  --btn-normal: #000;
  --btn-text: #FFF;
  --btn-hover: #101010;
  --btn-hover-text: #FFF;
  border: 1px solid;
}

.button:hover {
  background-color: var(--btn-hover);
  color: var(--btn-hover-text);
}

/* .button */

.lightbox-item {
  cursor: pointer;
}

.lightbox-zoom {
  cursor: zoom-in;
}

input-array {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid var(--project-color-input-border-nofocus);
  background: var(--project-color-input-background);
  padding: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  overflow: hidden;
  /* position: relative; */
}
  input-array fieldset{
    display: flex;
    flex-wrap: wrap;
    flex-grow:1;
    min-height: 2rem;
    border-bottom: 1px solid var(--project-color-input-border-nofocus);
    background: var(--project-color-input-disabled);
    margin: 0;
    padding:.4rem;
    gap: .4rem;
    max-width: 265px;
  }

  input-array fieldset:empty{
    text-align: center;
  }

  input-array fieldset:empty:before{
    content:"Use the field below to add items to this list";
    font-style:italic;
    opacity: .6;
    font-size: .6em;
  }

  input-array input[type="search"]{
    border: none;
    border-radius: unset;
    font-size: .9rem;
  }

  input-array input[type="search"]:focus{
    background: var(--project-color-input-background);
  }

  input-array optgroup, input-array option{
    display: none;
  }

   .input-array--search-results{
    display: block;
    font-size: .9rem;
    padding: .2rem;
    margin:0;
    list-style: none;
    position:absolute;
    background: var(--project-color-input-background);
    border: 1px solid var(--project-color-input-border-nofocus);
    border-top: none;
    width: calc(100% - .2rem);
    top:100%;
    left:.1rem;
    z-index: var(--project-modal-z-index);
    box-sizing: border-box;
  }

   .input-array--search-results:empty{
    display:none;
  }

   .input-array--search-results li{
    padding: .2rem;
    border: 1px solid transparent;
    box-sizing: border-box;
  }

   .input-array--search-results li+li{
    margin-top: .1rem;
  }

   .input-array--search-results li:hover,
   .input-array--search-results li:focus,
   .input-array--search-results li.input-array--will-select-on-enter{
    background: var(--project-color-input-disabled);
    border:1px solid var(--project-color-input-border-nofocus);
    cursor:pointer;
    color:black;
  }

  .input-array--search-results li.input-array--list-custom{
    font-weight: bold;
  }

  .input-array--search-results li.input-array--list-custom:not(.input-array--will-select-on-enter){
    color:var(--project-color-input-border-nofocus);
  }

   .input-array--search-results li.input-array--list-custom:before{
    content: "+";
    margin: 0 0.4rem 0 .2rem;
    font-weight: bold;
    color: white;
    background: var(--project-color-input-border-nofocus);
    border-radius: 50%;
    width: 1rem;
    display: inline-flex;
    height: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

input-array-item{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--project-color-input-border-nofocus);
  background: var(--project-color-input-background);
  border-radius: 4px;
  font-size: 1rem;
  overflow: hidden;
}

  input-array-item span{
    margin: 0 .3rem;
  }

  input-array-item input[type='button']{
    font-size: .8rem;
    color: var(--project-color-input-border-nofocus);
    border: none;
    border-left: 1px solid var(--project-color-input-border-nofocus);
    border-radius: unset;
    margin: 0;
    height: 100%;
  }

  
flex-table{
  display: flex;
  width: 100%;
  background: var(--project-color-table-bg-odd);
  flex-wrap: wrap;
  border: var(--project-color-table-border);
}

flex-table[scroll-x]{
  display:table;
  overflow-x: scroll;
}

  flex-row{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-grow: 0;
    flex-wrap: wrap;
  }

  [scroll-x] flex-row{
    display: table-row;
    flex-wrap: nowrap;
  }

  flex-row:nth-of-type(even){
    background: var(--project-color-table-bg-even);
  }

  flex-fixed + flex-fixed,
  flex-fixed + flex-cell,
  flex-fixed + flex-header,
  flex-cell + flex-cell,
  flex-header + flex-header{
    border-left: var(--project-color-table-border);
  }

  flex-cell,flex-header,flex-fixed{
    display: flex;
    flex-grow: 1;
    padding: .3rem;
    width: 80px;
  }
  
  [scroll-x] flex-cell, [scroll-x] flex-header, [scroll-x] flex-fixed{
    display: table-cell;
    width: auto;
  }

  flex-header, flex-row:first-of-type flex-fixed{
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items:center;
    border-bottom: var(--project-color-table-border);
  }

  /** flex-fixed items should only be the left-most column OR the first row*/
  flex-fixed{
    position:sticky;
    /* left: 0; */
  }