[onclick^="lightbox"] {
    cursor: zoom-in;
}

/** ===================
     BUILT-IN ELEMENTS
    =================== */

modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  transition: opacity .4s;
  opacity: 0;
  z-index: var(--project-modal-z-index);
}

  modal-container.lightbox {
      background: rgba(0, 0, 0, .8);
      backdrop-filter: blur(10px);
      cursor: zoom-out;
  }

  modal-container.lightbox .modal-body {
      padding: 0;
      margin: 0;
      background: black;
  }

  modal-container.lightbox modal-box {
    cursor: default;
  }

  modal-container.lightbox img{
      max-width: 95vw;
      max-height: 95vh;
  }

  modal-container > button.modal-close-button {
      border: none;
      background: transparent;
      font-size: 2rem;
      position: absolute;
      right: 0;
      top: 0;
      color: black;
      text-shadow: 1px 1px white, 1px -1px white, -1px -1px white, -1px 1px white;
      z-index: 10;
  }

modal-box {
    display: flex;
    flex-direction: column;
    background: var(--project-body-background);
    position: relative;
    min-height: 20%;
    min-width: 20%;
    max-width:  calc(100vw - 2em);
    max-height: calc(100vh - 2em);
    opacity: 0;
    transition: transform .5s, opacity .5s;
    overflow-x: scroll;
    border-radius: 4px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

    modal-box::-webkit-scrollbar {
        display: none;
    }

  modal-box.modal-window--input input {
      width: 100%;
      box-sizing: border-box;
  }

  modal-box.modal-window--input input:invalid {
      box-shadow: 0 0 10px rgba(255, 0, 0, .5) inset;
      background: white;
  }

  section.modal-body {
      flex-grow: 1;
      margin: 1rem;
  }

modal-button-row {
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: 0;
}

  modal-button-row button {
      flex-grow: 1;
      border-radius: 0;
      border: none;
      min-height: 2rem;
      padding: .7rem 0;
      font-weight: bold;
      font-family: var(--project-head-family);
      font-size: 1.5rem;
  }

  modal-button-row button.modal-button-okay {
      background: var(--project-color-acknowledge);
  }

  modal-button-row button.modal-button-delete {
      background: var(--project-color-action-danger);
  }


.modal-dialog--container {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--project-modal-z-index);
}

button.modal-dialog--close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    color: white;
}

button.modal-dialog--close:hover{
    background: transparent;
    color: white;
}

modal-dialog {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    max-height: 80vh;
    min-width: 20vw;
    max-width: 80vw;
    background-color: white;
    background-color: var(--project-body-background);
}

.modal-dialog--content::-webkit-scrollbar {
    display: none;
}

.modal-dialog--content {
    padding: 1em;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

modal-dialog menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

modal-dialog menu li {
    width: calc(100% / var(--modal-chrome-count));
}

modal-dialog menu li button {
    width: 100%;
    border-radius: 0;
}