/*
    The goal of this file is to:
       #1 - Act as a way of making all web browser's default behavior act consistently.
       #2 - Provide a minimal stable of reusable classes and default stylings for builtin
            Cobalt Engine features.
       #3 - Be as minimal as possible.
*/

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
    font-family: var(--project-body-family);
    background: var(--project-body-background);
}

main {
    display: block;
}

h1:first-of-type {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0 0;
}

h1, h2, h3, h4, h5 {
    font-family: var(--project-head-family);
}

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre.error--message{
    background-color:#232323;
    color:white;
    padding: 1rem;
    width:50%;
    margin:0 auto;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
    border: unset;
}

fieldset label {
    display: block;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.hidden {
    display: none !important;
}

/* ==================
     STYLE DEFAULTS
   ================== */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body > header {
    display: flex;
    background: var(--project-color-header-branding);
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 1rem;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a.navigation--current {
    /* background: white;
    color: black; */
}

.user-panel {
    display: flex;
    color: white;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: var(--project-color-user-panel-button);
    margin: .25rem;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
}

.user-panel .user {
    font-weight: bold;
    font-family: var(--project-head-family);
    font-size: 1.25rem;
}

#user-menu-button {
    background: var(--project-color-user-panel-button);
    border: none;
    font-size: 2rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 1rem;
}

#user-menu-container {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

#user-menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#user-menu-container li>* {
    display: flex;
    font-size: 1.10rem;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

#user-menu-container li ion-icon {
    font-size: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .5rem;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
}
footer .social-media{
    display: flex;
    justify-content: space-evenly;
}
footer .social-media a{
    font-size:1.4em;
    text-decoration: none;
    color:rgba(0,0,0,.5)
}

footer .social-media a:hover{
    color:#000;
}

.footer-credits {
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    font-size: .8rem;
    text-align: center;
}



/** SLIDESHOW **/

.slideshow-container {
    position: relative;
    width: 100%;
    height: 50vh;
}

.slideshow-controls {
    position: absolute;
    z-index: 100;
}

.slideshow-item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.slideshow--inactiveItem {
    display: none;
}

.slideshow--dissolvePreviousItem {
    opacity: 0;
    z-index: 10;
}

.slideshow--beforeQueueItem {
    transition: opacity .5s;
}

.slideshow--queueNextItem {
    visibility: "";
    opacity: 1;
    z-index: 1;
}




/** NAV MENU SPAWNER **/

#nav-menu-spawn-nojs, #nav-menu-spawn {
    display: none;
}

#nav-menu-spawn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  z-index: calc(var(--project-modal-z-index) - 1);
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  background: var(--project-color-button-init);
  color: var(--project-color-button-text);
}

@media only screen and (max-width:900px) {
  #nav-menu-spawn {
    display: flex;
  }
  header {
    transform: translateX(200%);
    transition: transform .6s;
  }
  #nav-menu-spawn-nojs:checked+header {
    transform: translateX(0);
  }
}