
:root {
    --notification-unseen-indicator-size: 1.3em;
    --unseen-indicator-top: -0.25em;
    --unseen-indicator-right: 0.75em;
    --notification-panel-width: max(30vw, 20rem);
    @media only screen and (max-width: 35em) {
        --notification-panel-width: 100%;
    }
}
body.notification-panel--open {
    #user-menu-bar {
        padding-right: calc(var(--notification-panel-width) - var(--scrollbar-width));
        transition: padding-right 500ms;
    }
}
.admin-panel--customize-link:not([href="/admin/customizations/"]) {
    position: relative;
    &:before {
        content: "";
        background: var(--issue-color-1);
        height: 0.7em;
        width: 0.7em;
        top: -0.1em;
        left: -0.25em;
        position: absolute;
        border-radius: 50%;
        border: 2px solid var(--user-menu-bg-color);
    }
}

:is(notify-button, notify-button[role="button"]) {
    font-family: "Material Design Icons";
    border: unset;
    font-size: inherit;
    padding: unset;
    margin: unset;
    background: none;
    color: inherit;
    display: flex;
    align-items: center;
    position: relative;
    --icon: "\F009C";
    &:before {
        content: var(--icon);
    }
    &.notification-indicator--read {
        .unseen-indicator {
            display: none;
        }
    }
    &.notification-indicator--unread{
        --icon: "\F009A";
    }
    &.notification-indicator--mute{
        --icon: "\F0A91";
        .unseen-indicator {
            display: none;
        }
    }
    .unseen-indicator {
        border-radius: 50%;
        height: var(--notification-unseen-indicator-size);
        width: var(--notification-unseen-indicator-size);
        background: var(--issue-color-1);
        color: var(--issue-color-1-fg);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .75em;
        font-weight: bold;
        font-family: sans-serif;
        position: absolute;
        top: var(--unseen-indicator-top);
        right: var(--unseen-indicator-right);
        border: 2px solid var(--user-menu-bg-color);
    }
}

.notifications--notifications-panel {
    position:fixed;
    right: 0;
    top:0;
    background: var(--project-body-background);
    box-shadow: 0 0 10px rgb(0 0 0 / .4);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: var(--notification-panel-width);
    z-index: calc(var(--project-modal-z-index) + 1);
    --inner-content-padding: var(--margin-m);
    transition: right 500ms;
    font-family: var(--admin-font);
    &[aria-hidden="true"] {
        right: calc(-100% + -10px);
        button, input {
            user-select: none;
        }
    }
    hgroup {
        display: flex;
        align-items: center;
        padding: 0 var(--inner-content-padding);
        margin: 0;
        border: none;
    }
    h1 {
        font-size: 1rem;
        margin: var(--margin-s) 0;
    }
    .filter-container {
        padding: var(--margin-xs) var(--inner-content-padding);
        background: var(--background-color-2);
        border-top: var(--input-element-border-value);
        border-bottom: var(--input-element-border-value);
        margin-bottom: var(--margin-s);
        select, action-menu {
            padding: var(--margin-xxs);
            font-size: 0.8em;
        }
    }
    button {
        border: none;
        background: none;
        color: inherit;
        padding: 0;
        margin: 0 0 0 auto;
    }
    form-request button {
        font-size: 1.2em;
        padding: 0 var(--margin-xs);
    }
    ul.notifications--list {
        list-style: none;
        margin: 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex-grow: 1;
        overflow-y: scroll;
        scrollbar-width: thin;
        padding: 0 var(--inner-content-padding);
    }
    .notifications--send {
        background: 0;
        fieldset {
            border: none;
            margin: 0;
            border-top: var(--input-element-border-value);
            background-color: var(--project-body-background);
        }
    }
}

notification-item {
    --read-status-icon: "\F05EF"; /** READ icon */
    &.notifications--notification-container {
        display: flex;
        text-decoration: none;
        flex-direction: column;
        border: 1px solid var(--project-color-input-border-nofocus);
        background: var(--project-color-input-background);
        padding: var(--margin-xxs) var(--margin-m, .4em) var(--margin-xs);
        color: inherit;
        border-radius: var(--input-element-radius, .3em);
        &:visited {
            color: inherit;
        }
    }
    &[seen="false"][read="false"]{
        --read-status-icon: "\F09EB"; /** NEW & UNREAD icon */
    }
    &[read="false"] {
        --read-status-icon: "\F01EE"; /** UNREAD icon */
    }
    date-span {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        &:after {
            font-family: 'Material Design Icons';
            content: " \F0059";
        }
        &:hover:after {
            text-decoration: none;
        }
    }
}

/* notification-item.notifications--notification-container:hover {

} */

.notification--from {
    display: flex;
    align-items: center;
}

.notification--from .cobalt-user--avatar{
    height: 1.5rem;
    width: 1.5rem;
}

.notification--from span {
    font-size: .8rem;
}

.notification--from action-menu {
    margin-left: auto;
}

.notification--body {
    margin: 0 1rem;
    /* width: 40ch; */
}

.notification--foot {
    &:before {
        font-family: 'Material Design Icons';
        content: var(--read-status-icon);
    }
    
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form-request.notifications--send {
    margin-top: auto;
    /* flex-grow: 1; */
}

/* split-field {
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

split-field > *:first-child {
    border: unset;
    margin: 0;
    flex-grow: 1;
    border-radius: 0;
    height: 100%;
}

split-field > *:last-child {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid var(--project-color-input-border-nofocus);
    margin: 0;
    border-radius: 0;
    height: 100%;
} */
