.cobalt-posts--public-index {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 80vw;
    margin: 2em auto;
}

#main-posts .cobalt-query-controls {
    margin-bottom: 2em;
}

    .cobalt-posts--public-index a.cobalt-post--blurb {
        color:inherit;
        text-decoration: none;
        font-weight: normal;
        background-color: white;
        width: 30%;
        overflow: hidden;
        transition: scale .3s;
        text-align: left;
    }

        .cobalt-posts--public-index a.cobalt-post--blurb:hover {
            scale: 1.01;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
        }


        .cobalt-posts--public-index .cobalt-post--blurb content {
            max-height: 10vh;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;
            position: relative;
            font-size: .8em;
        }

            .cobalt-posts--public-index .cobalt-post--blurb content p {
                margin-top:0;
            }

            .cobalt-posts--public-index .cobalt-post--blurb content:after {
                content: "";
                width: 100%;
                position: absolute;
                background: linear-gradient(transparent 50%, white);
                bottom: 0;
                height: 30%;
            }

            .cobalt-posts--public-index .cobalt-post--blurb img {
                display:none;
            }
    
    .cobalt-posts--public-index .cobalt-post--blurb :is(.cobalt-post--header, content) {
        margin: 1em;
    }

    .cobalt-posts--public-index .cobalt-post--blurb h1 {
        font-size: 1.2em;
    }

    .cobalt-posts--public-index .cobalt-post--blurb ul {
        font-size: .9em;
    }

    .cobalt-post--header ul > li {
        display: flex;
        align-items: center;
    }

    .cobalt-posts--public-index .cobalt-post--blurb:not(.cobalt-post--prominent) .cobalt-post--header ul {
        display:block;
    }
    
    /* .cobalt-posts--public-index .cobalt-post--blurb.cobalt-post--prominent {
        width: 100%;
        height: 30vh;
        display:flex;
        min-height: 295px;
    }
    
        .cobalt-posts--public-index .cobalt-post--blurb.cobalt-post--prominent .cobalt-post--splash {
            width: 30vw;
            aspect-ratio: 1 / 1;
            display: flex;
        }

        .cobalt-posts--public-index .cobalt-post--blurb.cobalt-post--prominent .cobalt-post--header {
            width: 100%;
            margin-bottom: 0;
        }

        .cobalt-posts--public-index .cobalt-post--blurb.cobalt-post--prominent content {
            display: block;
            width: auto;
            flex-grow: 1;
            margin-top: 0;
            flex-grow: 1;
        }

        .cobalt-posts--public-index .cobalt-post--blurb.cobalt-post--prominent .cobalt-post--splash.cobalt-post--no-image {
            display: none;
        } */

article.cobalt-post, a.cobalt-post:not(.cobalt-post--blurb) {
    max-width:100%;
    padding: 0;
    width: 120ch;
    margin: 2em auto;
    padding: 0 0 1em;
}

.cobalt-post figure {
    text-align: center;
}

.cobalt-post figure.content-embed.content--instagram {
    display: flex;
    justify-content: center;
}

.cobalt-post--splash {
    display: none;
}

.cobalt-post--splash[bg-splash] {
    display:block;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.cobalt-post--blurb .cobalt-post--splash[bg-splash] {
    height:300px;
}

article.cobalt-post .cobalt-post--header, content {
    display: block;
    margin: 2em;
}

.cobalt-post--header .cobalt-post--title {
    font-size: 2.2em;
    text-align: left;
}

.cobalt-post--header .cobalt-post--title p {
    margin:0;
}

.cobalt-post--header {
    margin-bottom: 1em;
}

.cobalt-post--header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1em 0 0em;
    gap: 2ch;
}

.cobalt-post--header ul li:empty {
    /* display: none; */
}

.cobalt-post--unpublished-preview {
    background: var(--project-color-problem);
    color: white;
    padding: 1ch;
}

article.cobalt-post pre {
    max-width: 100%;
    overflow-x: scroll;
    padding: 2ch;
    background: var(--project-color-header-branding);
    color: var(--project-color-admin-panel-font);
}

article.cobalt-post content img {
    display:block;
    width:100%;
    height:auto;
}

article.cobalt-post + article.cobalt-post {

}
.button.cobalt-post--continue-reading {
    padding: 0.6em 1em;
    margin: 0 auto 1em;
}

.cobalt-post a.cobalt-post--article-link {
    color: inherit;
}

.cobalt-post .cobalt-post--title a.cobalt-post--article-link {
    text-decoration: none;
}

.cobalt-post .cobalt-post--title a.cobalt-post--article-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 35em) {
    article.cobalt-post .cobalt-post--header ul {
        flex-wrap:wrap;
    }
    .cobalt-posts--public-index a.cobalt-post--blurb {
        width:100%;
        height: 50vh;
    }

    .cobalt-post :is(figure, figure iframe) {
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    /* .cobalt-posts--public-index .cobalt-post--blurb.cobalt-post--prominent .cobalt-post--header {
        margin-bottom: 1em;
    }
    .cobalt-posts--public-index .cobalt-post--blurb.cobalt-post--prominent {
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .cobalt-posts--public-index .cobalt-post--blurb.cobalt-post--prominent .cobalt-post--splash{
        width: 100%;
        flex-grow:1;
        min-height: 30vh;
    } */
    .cobalt-posts--public-index .cobalt-post--blurb ul {
        display: flex;
        flex-direction: column;
        gap: unset;
    }
}
