/** template.css
*   This file contains typical styling for Heavy Element's
*   template sites.
*   @copyright 2025 Heavy Element
*/

.template-splash {
    position: relative;
    isolation: isolate;
    display: flex;
}

.template-splash--content {
    max-width: 60ch;
}

.template-splash--content h1 {
    font-size: 2.75em;
}

.template-callout {
    background: var(--project-callout-background, #C7EFCF);
    color: var(--project-callout-background-inverted, #000000);
    padding-top: var(--padding-top, 3em);
    padding-right: var(--padding-right, 0);
    padding-bottom: var(--padding-bottom, 3.8em);
    padding-left: var(--padding-left);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.template-callout.inverted {
    background: var(--project-callout-background-inverted, #254441);
    color: var(--project-callout-background, #FFFFFF);
}

    .template-callout h1 {
        width: 100%;
        text-align: center;
    }

.template-callout:is(.neutral, .white, .transparent) {
    background-color: transparent;
}

.quote-blurb {
    width: 100%;
}

.quote-blurb p {
    max-width: 60ch;
    text-align: center;
    margin: 0 auto;
}

.customer-quote {
    background: var(--project-callout-customer-quote, var(--project-body-background, #ffffff));
    padding: 2em;
    box-sizing: border-box;
    margin: 1.5em;
    border-radius: 2em;

}
    .customer-quote hgroup {
        display: grid;
        --avatar-size: 3em;
        --avatar-half-height: calc(var(--avatar-size) / 2);
        grid-template-columns: var(--avatar-size) 1fr;
        grid-template-rows: var(--avatar-half-height) var(--avatar-half-height);
        gap: 0 1em;
        margin-bottom: 0;
        border: none;
    }

    .customer-quote img.avatar {
        height: var(--avatar-size);
        width: var(--avatar-size);
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
        border-radius: var(--avatar-half-height);
    }

    .customer-quote h1 {
        text-align: left;
        font-size: 1.2em;
        margin: 0;
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    star-rating {
        display: flex;
        font-size: 1.2em;
        margin: 0;
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        width: fit-content;
        color: var(--review-star-color, #feb95f);
    }

    star-rating li {
        font-family: "Material Design Icons", sans-serif;
        /* opacity: .5; */
    }

    star-rating li::marker{
        content: "\F04D2";
    }

    star-rating li.half::marker{
        content: "\F04D0";
    }

    star-rating li.full::marker {
        content: "\F04CE"
    }

    .customer-quote article {
        width: 50ch;
    }
    

.list-panel.contact-panel :is(h1, h2, h3, h4, h5) {
    width: 100%;
    font-family: var(--project-body-family);
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

.template-landing-user-reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.template-landing-user-reviews h2 {
    font-size: 1em;
    font-family: var(--project-body-family);
    font-weight: normal;
    color: rgba(0,0,0,.5);
    font-size: .8em;
    width: fit-content;
}

.template-landing-user-reviews .review-avatars {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
}

.template-landing-user-reviews .vbox, .landing-splash .template-landing-user-reviews .vbox {
    margin: 0 0 0 .5em;
    padding: 0;
    width: fit-content;
    flex-shrink: 1;
    flex-grow: 0;
}

.template-landing-user-reviews .review-avatars img {
    border-width: 2px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    flex-shrink: 0;
    background: rgb(244, 247, 251);
    color: var(--project-body-background);
    border-color: var(--project-body-background);
    vertical-align: top;
    width: 50px;
    height: 50px;
    font-size: calc(1.2em);
    margin-inline-end: 0px;
    border-radius: 50%;
    overflow-wrap: break-word;
    border-style: solid;
    box-sizing: border-box;
}

.template-landing-user-reviews .review-avatars img:not(:first-of-type) {
    margin-left: -20px;
}

.template-site footer {
    background: var(--project-template-footer-bg, #483519);
    color: var(--project-template-footer-color, #fff);
    margin: 0;
    padding: 3em;
    gap: 1em;
    justify-content: center;
}

    .template-site footer .blurb {
        width: 40ch;
    }

    .template-site footer :is(h2, h3, h4, h5) {
        font-size: 1em;
        text-transform: uppercase;
    }

@media only screen and (max-width: 35em) {
    html, body {
        font-size: 4.5vw;
    }
    .template-splash {
        display: flex;
        --image-width: 100%;
        flex-direction: column;
    }

    
    .template-callout {
        flex-direction: column;
    }

    .customer-quote {
        width: calc(100% - 3em);
    }

    .customer-quote article {
        width: unset;
    }

    .template-site footer {
        flex-direction: column-reverse;
    }

    .template-site footer .footer-credits {
        order: -10;
    }

    .template-site footer a.footer-credits {
        order: -20;
    }

    .template-site footer .blurb {
        width: 100%;
    }
}