/* =========================
         INPUT SWITCH
   ========================= */

switch-container {
  padding: .4rem;
  margin-top: .5rem;
  border: 1px solid var(--project-color-input-border-nofocus);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



input-switch {
  display: inline-block;
  width: 64px;
  height: 26px;
  /* margin: .25rem .5rem;
  border: 1px solid white; */
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

  input-switch[disabled="true"] span, input-switch[disabled="disabled"] span {
    opacity: .5;
  }

  input-switch input {
    visibility: hidden;
  }

  input-switch span {
    position: absolute;
    background: var(--project-color-inactive);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3) inset;
    border-radius: 17px;
  }

  input-switch span:before {
    /* content: "✓"; */
    position: absolute;
    top: -7px;
    left: 8px;
    font-family: monospace;
    font-weight: bolder;
    font-size: 20pt;
    color: white;

  }

  input-switch span:after {
    content: "";
    display: block;
    height: 20px;
    width: 35%;
    background: rgb(255, 255, 255);
    /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(214, 214, 214, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%); */
    border-radius: 20px;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: left .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }

  input-switch input:checked+span {
    background: var(--project-color-active);
  }

  input-switch input:checked+span:after {
    left: 37px;
  }

  input-switch input:indeterminate+span {
    background: var(--project-color-problem);
  }

  input-switch input:indeterminate+span:before {
    content: "";
  }

  input-switch input:indeterminate+span:after {
    left: 21px;
  }

  input-switch[large] input:indeterminate+span:after {
    left: 27px;
  }

  input-switch[large] {
    width: 83px;
    height: 32px;
  }

  input-switch[large] span:before {
    font-size: 32pt;
    left: 8px;
    top: -14px;
  }

  input-switch[large] span:after {
    height: 26px;
  }

  input-switch[large] input:checked+span:after {
    left: 49px;
  }

  
  input-switch[small] {
    width: 42px;
    height: 26px;
  }

  input-switch[small] span::after{
    height: 16px;
    top: 5px;
  }

  input-switch[small] input:checked + span::after {
    left: 22px;
  }

  input-switch[small] input:indeterminate + span::after {
    left: 14px;
  }

  input-switch[small] span::before{
    content: "";
  }

  input-switch[tiny] {
    width: 42px;
    height: 16px;
  }

  input-switch[tiny] span::after{
    height: 10px;
  }

  input-switch[tiny] input:checked + span::after {
    left: 22px;
  }

  input-switch[tiny] input:indeterminate + span::after {
    left: 14px;
  }

  input-switch[tiny] span::before{
    content: "";
  }

form-request{
  overflow: hidden;
}

help-span{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1em;
  width:  1em;
  /* color:white; */
  color:var(--project-color-input-border-nofocus);
  border-radius: 50%;
  margin:0 .5ch;
  font-family: sans-serif;
  position: relative;
  vertical-align: top;
}

help-span[warning]{
  color: var(--project-color-problem);
}
  help-span[warning]:before{
    content: "\F0028";
    justify-self: center;
    align-self:center;
  }

  help-span:before{
    content: "\F02D7";
    font-family: "Material Design Icons";
    /* font-weight: bold; */
    font-size: 1em;
    /* margin-top: .05em; */
    align-self: flex-start;
  }

  .help-span-article {
    visibility: hidden;
    width: max-content;
    max-width: 270px;
    font-size: 1rem;
    font-weight: normal;
    background: var(--project-body-background);
    border: 1px solid var(--project-color-input-border-nofocus);
    box-shadow: var(--project-box-shadow);
    color:black;
    /* top: 50%; */
    left: 100%;
    position: absolute;
    padding: .2rem .4rem;
    border-radius: 4px;
    z-index: calc(var(--project-modal-z-index) + 1);
  }

  .help-span-article[warning]{
    background: var(--project-color-problem);
    border-color: var(--project-color-input-invalid-border);
    color:white;
  }

  .help-span-article--shown {
    visibility: visible;
  }

  .help-span-article.help-span-article--right-justified {
    /* left: unset; */
    /* right: 100%; */
  }

markdown-div {
  white-space: pre-wrap;
}
