/* =========================
         INPUT SWITCH
   ========================= */

input-switch {
  display: inline-block;
  width: 64px;
  height: 26px;
  /* margin: .25rem .5rem;
  border: 1px solid white; */
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

  input-switch[disabled="true"] span, input-switch[disabled="disabled"] span {
    opacity: .5;
  }

  input-switch input {
    visibility: hidden;
  }

  input-switch span {
    position: absolute;
    background: var(--project-color-inactive);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3) inset;
    border-radius: 17px;
  }

  input-switch span:before {
    content: "✓";
    position: absolute;
    top: -7px;
    left: 8px;
    font-family: monospace;
    font-weight: bolder;
    font-size: 20pt;
    color: white;

  }

  input-switch span:after {
    content: "";
    display: block;
    height: 20px;
    width: 50%;
    background: rgb(255, 255, 255);
    /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(214, 214, 214, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%); */
    border-radius: 20px;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: left .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }

  input-switch input:checked+span {
    background: var(--project-color-active);
  }

  input-switch input:checked+span:after {
    left: 28px;
  }

  input-switch input:indeterminate+span {
    background: var(--project-color-problem);
  }

  input-switch input:indeterminate+span:before {
    content: "";
  }

  input-switch input:indeterminate+span:after {
    left: 15px;
  }

  input-switch[large] input:indeterminate+span:after {
    left: 19px;
  }

  input-switch[large] {
    width: 83px;
    height: 32px;
  }

  input-switch[large] span:before {
    font-size: 32pt;
    left: 8px;
    top: -14px;
  }

  input-switch[large] span:after {
    height: 26px;
  }

  input-switch[large] input:checked+span:after {
    left: 38px;
  }

  input-switch[tiny] {
    width: 42px;
    height: 16px;
  }

  input-switch[tiny] span::after{
    height: 10px;
  }

  input-switch[tiny] input:checked + span::after {
    left: 18px;
  }

  input-switch[tiny] span::before{
    content: "";
  }

form-request{
  overflow: hidden;
}

help-span{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1em;
  width:  1em;
  color:white;
  background:var(--project-color-input-border-nofocus);
  border-radius: 50%;
  margin:0 .5ch;
  font-family: sans-serif;
  position: relative;
}

  help-span:before{
    content: "?";
    font-weight: bold;
    font-size: .8em;
    margin-top: .05em;
  }

  article.help-span-article {
    visibility: hidden;
    width: 270px;
    font-size: 1rem;
    font-weight: normal;
    background: inherit;
    /* top: 50%; */
    left: 100%;
    position: absolute;
    padding: .2rem;
    border-radius: 4px;
    z-index: calc(var(--project-modal-z-index) + 1);
  }

  article.help-span-article--shown {
    visibility: visible;
  }

  article.help-span-article.help-span-article--right-justified {
    left: unset;
    right: 100%;
  }