<hgroup>
    <h1>{{title}}</h1>
    <action-menu>
        {{!doc.action_menu_options}}
    </action-menu>
</hgroup>
<div>
    {{!doc.description.md}}
</div>
<form-request method="POST" action="/api/v1/customizations/update/{{doc._id}}" {{!doc.newDocAutosave}}>
    <fieldset>
        <ul class="list-panel">
            <li>
                <label>Group</label>
                <input-autocomplete name="group" value="{{doc.group}}" allow-custom="true">{{!group_options}}</input-autocomplete>
            </li>
            <li>
                <label>Value</label>
                <input type='color' name="value" value="{{value}}">
            </li>
        </ul>
    </fieldset>
</form-request>
