<header-group>
    <h1>{{title}}</h1>
    <action-menu>
        <option onclick='copyToClipboard("&#123;&#123;custom.{{doc.unique_name}}&#125;&#125;")'>Copy slug to clipboard</option>
        <option onclick='modalForm("/admin/customizations/update/{{doc._id}}")'>Update parameters</option>
        <option method="DELETE" action="/api/v1/customizations/{{doc._id}}">Delete this item</option>
    </action-menu>
</header-group>
<div>
    {{doc.description}}
</div>
<form-request method="POST" action="/api/v1/customizations/upload/{{doc._id}}" {{!doc.newDocAutosave}}>
    <fieldset>
        <ul class="list-panel">
            <li>
                <label>Group</label>
                <input-autocomplete name="group" value="{{doc.group}}" allow-custom="true">{{!group_options}}</input-autocomplete>
            </li>
            <li>
                <div class="hbox" style="flex-wrap: nowrap; width:100%;">
                    <div style="flex-grow: 1">
                        <label>File</label>
                        <input type='file' name="value" accept="image/*" for="#preview">
                    </div>
                    <img id="preview" src="{{doc.value.display}}" style="height: 92px; width: 200px; object-fit: contain; border: 1px solid lightgray">
                </div>
            </li>
        </ul>
    </fieldset>
</form-request>
