<hgroup>
    <h1>{{title}}</h1>
    <action-menu>
        {{!doc.action_menu_options}}
    </action-menu>
</hgroup>
<div>
    {{!doc.description.md}}
</div>
<form-request method="POST" action="/api/v1/customizations/upload/{{doc._id}}" {{!doc.newDocAutosave}}>
    <fieldset>
        <ul class="list-panel">
            <li>
                <label>Group</label>
                <input-autocomplete name="group" value="{{doc.group}}" allow-custom="true">{{!group_options}}</input-autocomplete>
            </li>
            <li>
                <div class="hbox" style="flex-wrap: nowrap; width:100%;">
                    <div style="flex-grow: 1">
                        <label>File</label>
                        <input type='file' name="value" accept="image/*" for="#preview">
                    </div>
                    <img id="preview" src="{{doc.value.display}}" style="height: 92px; width: 200px; object-fit: contain; border: 1px solid lightgray">
                </div>
            </li>
            <li>
                <div>
                    <label>Width</label>
                    <input name="meta.display_width" value="{{doc.meta.display_width}}">
                </div>
                <div>
                    <label>Height</label>
                    <input name="meta.display_height" value="{{doc.meta.display_height}}">
                </div>
            </li>
            <li>
                <div>
                    <label>Accent Color</label>
                    <input type="color" name="meta.accent_color" value="{{doc.meta.accent_color}}">
                </div>
                <div>
                    <label>Contrast Color</label>
                    <input type="color" name="meta.contrast_color" value="{{doc.meta.contrast_color}}">
                </div>
            </li>
        </ul>
    </fieldset>
</form-request>
