<hgroup>
    <h1>{{!title}}</h1>
</hgroup>
<form>
    {{!multidelete_button}}
    {{!previous_page}}
    <input type="number" name="{{page_param}}" value="{{page_number}}" style="width:3ch;text-align: right;">
    {{!next_page}}
    <input type="search" name="{{search_param}}" value="{{search_value}}" placeholder="Search"><button type="submit"><i name="magnify"></i></button>
</form>
<flex-table>
    {{!table_header}}
    {{!documents}}
</flex-table>
<style>
    .read-status--unread {
        font-weight: bold;
    }
    flex-table:empty:before{
        content: "Contact form submissions will be displayed here... when they exist."
    }
</style>
