<flex-row class="read-status--{{doc.read_status.display}}">
    <flex-cell>
        <a href='/admin/contact-form/{{doc._id}}'>{{doc.name}}</a>
    </flex-cell>
    <flex-cell>
        <a href='/admin/contact-form/{{doc._id}}'>{{doc.date.display}}</a>
    </flex-cell>
    <flex-cell>
        <code>{{doc.email}}</code>
    </flex-cell>
    <flex-cell style="width: 20px">
        <action-menu type="options">
            <option class="toggle-read-status" method="PUT" action="/api/v1/contact/read-status/{{doc._id}}" value="{{doc.read_status_inverted}}" style="text-transform: capitalize">{{doc.read_status_inverted.display}}</option>
            <option method="DELETE" action="/api/v1/contact/delete/{{doc._id}}">Delete</option>
        </action-menu>
    </flex-cell>
</flex-row>
