<flex-table>
    <flex-row>
        <flex-cell>Cell 1</flex-cell>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Cell 3</flex-cell>
        <flex-cell>Lorem ipsum, dolor sit amet consectetur adipisicing elit</flex-cell>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Cell 3</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell>Cell 1</flex-cell>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Lorem ipsum, dolor sit amet consectetur adipisicing elit</flex-cell>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Cell 3</flex-cell>
        <flex-cell>Cell 3</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell>Lorem ipsum, dolor sit amet consectetur adipisicing elit</flex-cell>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Cell 3</flex-cell>
        <flex-cell>Cell 1</flex-cell>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Cell 3</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell>Cell 1</flex-cell>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Lorem ipsum, dolor sit amet consectetur adipisicing elit</flex-cell>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Cell 3</flex-cell>
        <flex-cell>Cell 3</flex-cell>
    </flex-row>
</flex-table>