<flex-table scroll-x="800px">
    <flex-row>
        <flex-fixed>Some Header</flex-fixed>
        <flex-header>Another One</flex-header>
        <flex-header>Testing Headers</flex-header>
        <flex-header>Fourth Header</flex-header>
        <flex-header>Foo Bar</flex-header>
        <flex-header>Bar Baz</flex-header>
    </flex-row>
    <flex-row>
        <flex-fixed>Lorem ipsum dolor sit.</flex-fixed>
        <flex-cell>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, eos reiciendis.</flex-cell>
        <flex-cell>Lorem ipsum dolor sit amet.</flex-cell>
        <flex-cell>Lorem ipsum, dolor sit amet consectetur adipisicing elit</flex-cell>
        <flex-cell>Cell 5</flex-cell>
        <flex-cell>Cell 6</flex-cell>
    </flex-row>
    <flex-row>
        <flex-fixed>Cell 1</flex-fixed>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Lorem ipsum, dolor sit amet consectetur adipisicing elit</flex-cell>
        <flex-cell>Cell 4</flex-cell>
        <flex-cell>Cell 5</flex-cell>
        <flex-cell>Cell 6</flex-cell>
    </flex-row>
    <flex-row>
        <flex-fixed>Lorem ipsum, dolor sit amet consectetur adipisicing elit</flex-fixed>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Cell 3</flex-cell>
        <flex-cell>Cell 4</flex-cell>
        <flex-cell>Cell 5</flex-cell>
        <flex-cell>Cell 6</flex-cell>
    </flex-row>
    <flex-row>
        <flex-fixed>Cell 1</flex-fixed>
        <flex-cell>Cell 2</flex-cell>
        <flex-cell>Lorem ipsum, dolor sit amet consectetur adipisicing elit</flex-cell>
        <flex-cell>Cell 4</flex-cell>
        <flex-cell>Cell 5</flex-cell>
        <flex-cell>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe magnam perspiciatis iste ea et debitis
            aperiam voluptatem inventore rerum vitae.</flex-cell>
    </flex-row>
</flex-table>