<fieldset>
    <label for="">
        Date
        <date-span value="1622152662471"></date-span> &mdash;
        <date-span value="1621807671000" format="l, F jS Y"></date-span>
    </label>
    <label for="">
        Time
        <date-span value="1622152662471" format="h:i a"></date-span> &mdash;
        <date-span value="1622152662471" format="H:i"></date-span> &mdash;
        <date-span value="1622152662471" format="g:i:s A"></date-span>
    </label>
    <label for="">
        From JSON
        <date-span value="{&quot;$date&quot;:{&quot;$numberLong&quot;:&quot;1622152662471&quot;}}"></date-span>
    </label>
    <label>
        Relative
        <date-span value="@time();000" relative="true"></date-span>
    </label>
</fieldset>
<fieldset>
    <label>Standard Text Input</label>
    <input type="text" placeholder="Placeholder"> <input type="number" placeholder="1">
    <label>Disabled</label>
    <input type="text" placeholder="Disabled" disabled="disabled">
</fieldset>

<fieldset>
    <label>Inactive switch</label>
    <input-switch name="element1"></input-switch>
    <input-switch name="element2" disabled="true"></input-switch>
    <label>Active switch</label>
    <input-switch name="element3" checked="true"></input-switch>
    <input-switch name="element4" disabled="true" checked="true"></input-switch>
    <label>Indeterminate Switch</label>
    <input-switch name="element5" checked="unknown"></input-switch>
</fieldset>

<fieldset>
    <label>Large Inactive Switch</label>
    <input-switch name="element2" large></input-switch>
    <label>Large Active switch</label>
    <input-switch name="element3" checked="true" large></input-switch>
</fieldset>

<fieldset>
    <label>Standard Toggles</label>
    <input type="checkbox">
</fieldset>

<fieldset>
    <label>Array test</label>
    <input-array id="mod" name="array" multiselect="true" allow-custom="true" value='["php","javascript"]'
        placeholder="Favorite Programming Languages">
        <option value="actionscript">ActionScript</option>
        <option value="applescript">AppleScript</option>
        <option value="asp">Asp</option>
        <option value="basic">BASIC</option>
        <option value="c">C</option>
        <option value="c++">C++</option>
        <option value="objective c">Objective C</option>
        <option value="clojure">Clojure</option>
        <option value="cobol">COBOL</option>
        <option value="coldfusion">ColdFusion</option>
        <option value="dart">Dart</option>
        <option value="erlang">Erlang</option>
        <option value="fortran">Fortran</option>
        <option value="go">Go</option>
        <option value="groovy">Groovy</option>
        <option value="haskell">Haskell</option>
        <option value="java">Java</option>
        <option value="javascript">JavaScript</option>
        <option value="kotlin">Kotlin</option>
        <option value="lisp">Lisp</option>
        <option value="matlab">MATLAB</option>
        <option value="perl">Perl</option>
        <option value="php">PHP</option>
        <option value="python">Python</option>
        <option value="ruby">Ruby</option>
        <option value="rust">Rust</option>
        <option value="scala">Scala</option>
        <option value="schem">Schem</option>
        <option value="swift">Swift</option>
        <option value="vala">Vala</option>
        <option value="something"><code style="background:black;color:white">something</code></option>
    </input-array>
</fieldset>
<button id="update">Update</button>
<button id="readonly">Readonly</button>
<button id="custom">Custom</button>
<button id="multi">Multi</button>

<script>
    var button = document.querySelector("#update")
    var readonly = document.querySelector("#readonly")
    var custom = document.querySelector("#custom")
    var multi = document.querySelector("#multi")
    var array = document.querySelector("#mod")

    button.addEventListener("click", e => {
        array.setAttribute('value', JSON.stringify(['erlang', 'haskell', 'groovy', 'lisp']))
    });
    readonly.addEventListener("click", e => {
        let set = "readonly";
        if (array.getAttribute('readonly') === "readonly") set = "false";
        array.setAttribute('readonly', set);
    });
    custom.addEventListener("click", e => {
        let set = "true";
        if (array.getAttribute('allow-custom') === "true") set = "false";
        array.setAttribute('allow-custom', set);
    });
    multi.addEventListener("click", e => {
        let set = "true";
        if (array.getAttribute('multiselect') === "true") set = "false";
        array.setAttribute('multiselect', set);
    });
</script>



<fieldset>
    <label>Object Array test</label>
    <input-object-array field="field">
        <var>[
            {"foo":"value","bar":400,"baz":true,"boo":"one"},
            {"foo":"Another","bar":-100,"baz":false,"boo":"two"}
            ]</var>
        <template>
            <fieldset>
                <label>Foo</label>
                <input name="foo">
                <label>Bar</label>
                <input type="number" name="bar">
                <label>Baz</label>
                <input type="checkbox" name="baz">
                <radio-group>
                    <label><input type="radio" name="boo" value="one"> One</label>
                    <label><input type="radio" name="boo" value="two"> Two</label>
                </radio-group>
            </fieldset>
        </template>
    </input-object-array>

</fieldset>