<fieldset>
    <label>Standard Text Input</label>
    <input type="text" placeholder="Placeholder"> <input type="number" placeholder="1">
    <label>Disabled</label>
    <input type="text" placeholder="Disabled" disabled="disabled">
</fieldset>

<fieldset>
    <label>Autocomplete</label>
    <input-autocomplete></input-autocomplete>
</fieldset>

<fieldset>
    <label>Inactive switch</label>
    <input-switch name="element1"></input-switch>
    <input-switch name="element2" disabled="true"></input-switch>
    <label>Active switch</label>
    <input-switch name="element3" checked="true"></input-switch>
    <input-switch name="element4" disabled="true" checked="true"></input-switch>
    <label>Indeterminate Switch</label>
    <input-switch name="element5" checked="unknown"></input-switch>
</fieldset>

<fieldset>
    <label>Large Inactive Switch</label>
    <input-switch name="element2" large></input-switch>
    <label>Large Active switch</label>
    <input-switch name="element3" checked="true" large></input-switch>
</fieldset>

<fieldset>
    <label>Standard Toggles</label>
    <input type="checkbox">
</fieldset>

<fieldset>
    <tag-select>
        <option>Tag 1</option>
        <option>Tag 2</option>
    </tag-select>
</fieldset>

<fieldset>
    <label>Array test</label>
    <input-array name="array" multiselect="true" allow-custom="true">
        <script type="application/json">[1000,"1001", true]</script>
        <option value="1000">Int</option>
        <option value="1001">String</option>
        <option value="true">Boolean <code>true</code></option>
        <option value="false">Boolean <code>false</code></option>
        <option value="null"><code style="background:black;color:white">null</code></option>
    </input-array>
</fieldset>

<fieldset>
    <label>Readonly Array test</label>
    <input-array name="array" readonly="readonly">
        <script type="application/json">["1000","1001"]</script>
        <option value="1000">Testing 1000</option>
        <option value="1001">Testing 1001</option>
        <option value="1002">Testing 1002</option>
        <option value="1003">Testing 1004</option>
    </input-array>
</fieldset>