<fieldset>
    <label>Standard Text Input</label>
    <input type="text" placeholder="Placeholder"> <input type="number" placeholder="1">
    <label>Disabled</label>
    <input type="text" placeholder="Disabled" disabled="disabled">
</fieldset>

<fieldset>
    <label>Autocomplete</label>
    <input-autocomplete></input-autocomplete>
</fieldset>

<fieldset>
    <label>Inactive switch</label>
    <input-switch name="element1"></input-switch>
    <input-switch name="element2" disabled="true"></input-switch>
    <label>Active switch</label>
    <input-switch name="element3" checked="true"></input-switch>
    <input-switch name="element4" disabled="true" checked="true"></input-switch>
    <label>Indeterminate Switch</label>
    <input-switch name="element5" checked="unknown"></input-switch>
</fieldset>

<fieldset>
    <label>Large Inactive Switch</label>
    <input-switch name="element2" large></input-switch>
    <label>Large Active switch</label>
    <input-switch name="element3" checked="true" large></input-switch>
</fieldset>

<fieldset>
    <label>Standard Toggles</label>
    <input type="checkbox">
</fieldset>

<fieldset>
    <label>Array test</label>
    <input-array id="mod" name="array" multiselect="true" allow-custom="true" value="">
        <script type="application/json">[1000,"1001", true]</script>
        <option value="1000">Int</option>
        <option value="1001">String</option>
        <option value="true">Boolean <code>true</code></option>
        <option value="false">Boolean <code>false</code></option>
        <option value="something"><code style="background:black;color:white">something</code></option>
    </input-array>
</fieldset>

<button id="update">Update</button>
<button id="readonly">Readonly</button>
<button id="custom">Custom</button>
<button id="multi">Multi</button>

<script>
    var button = document.querySelector("#update")
    var readonly = document.querySelector("#readonly")
    var custom = document.querySelector("#custom")
    var multi = document.querySelector("#multi")
    var array = document.querySelector("#mod")

    button.addEventListener("click", e => {
        array.setAttribute('value', JSON.stringify(['true', '1001', 'false', 'something']))
    });
    readonly.addEventListener("click", e => {
        let set = "readonly";
        if (array.getAttribute('readonly') === "readonly") set = "false";
        array.setAttribute('readonly', set);
    });
    custom.addEventListener("click", e => {
        let set = "true";
        if (array.getAttribute('allow-custom') === "true") set = "false";
        array.setAttribute('allow-custom', set);
    });
    multi.addEventListener("click", e => {
        let set = "true";
        if (array.getAttribute('multiselect') === "true") set = "false";
        array.setAttribute('multiselect', set);
    });
</script>