<link rel="stylesheet" href="/core-content/css/parallax.css">
<style>
  .cobalt-parallax--item {
    height: 200px;
    width: 200px;
    background-size: contain;
    background: url(/res/duotone/heart.svg);
  }

  main {
    min-height: 100vh;
  }

  #parallax-2 {
    background: url(/res/duotone/dollar.svg);
  }

  #parallax-3 {
    background: url(/res/duotone/pinpoint.svg);
  }
</style>
<div id="parallax-1" class="cobalt-parallax--item"></div>
<div id="parallax-2" class="cobalt-parallax--item" style="--z-placement: 6px;"></div>
<div id="parallax-3" class="cobalt-parallax--item" style="--z-placement: 5px;"></div>