<fieldset>
    <legend>Status Messages</legend>
    <async-button method="PUT" action="/api/v1/debug/control-headers/" value='{"method":"status","class":"message","type":"auth"}'>Auth Message</async-button>
    <async-button method="PUT" action="/api/v1/debug/control-headers/" value='{"method":"status","class":"error","type":"auth"}'>Auth Error</async-button>
    <async-button method="PUT" action="/api/v1/debug/control-headers/" value='{"method":"status","class":"message","type":"pizza"}'>Pizza Message</async-button>
    <async-button method="PUT" action="/api/v1/debug/control-headers/" value='{"method":"status","class":"error","type":"pizza"}'>Pizza Error</async-button>
</fieldset>
<fieldset>
    <legend>Modal Messages</legend>
    <async-button method="PUT" action="/api/v1/debug/control-headers/" value='{"method":"modal","class":"message","type":"auth"}'>Auth Message</async-button>
    <async-button method="PUT" action="/api/v1/debug/control-headers/" value='{"method":"modal","class":"error","type":"auth"}'>Auth Error</async-button>
    <async-button method="PUT" action="/api/v1/debug/control-headers/" value='{"method":"modal","class":"message","type":"pizza"}'>Pizza Message</async-button>
    <async-button method="PUT" action="/api/v1/debug/control-headers/" value='{"method":"modal","class":"error","type":"pizza"}'>Pizza Error</async-button>
</fieldset>
