<div style="margin:2em;">
    <div>Number of pings: <span id="ping-counter">0</span></div>
    <div id="event-stream"></div>
</div>
<script>
    var eventSource = new EventSource("/streams/hello-world", { withCredentials: true });
    var stream = document.querySelector("#event-stream");
    var pings = document.querySelector("#ping-counter")
    var pingCount = 0;
    eventSource.addEventListener("ping", (event) => {
        console.log(event);

        pings.innerText = pingCount++;
    });

    eventSource.addEventListener("quote", (event) => {
        const data = JSON.parse(event.data);
        const eventContainer = document.createElement("div");
        eventContainer.innerText = `#${data.events} - ${data.message}`;
        stream.appendChild(eventContainer);
    });
</script>