<form-request method="POST" action="/api/v1/debug/validator" @csrf_attribute();>
    <fieldset>
        <label>Your Name</label>
        <input type="name" name="name" value="{{document.name}}">
    </fieldset>
    <fieldset>
        <label>Email</label>
        <input type="email" name="email" value="{{document.email}}">
    </fieldset>
    <fieldset>
        <label>Phone Number</label>
        <input type="phone" name="phone" value="{{document.phone}}">
    </fieldset>
    <fieldset>
        <label>Pronoun Set</label>
        <select name="pronoun_set">{{!document.pronoun_set.options}}</select>
        <ul>
            <li>Pronoun_set Prototype</li>
            <li>{{document.pronoun_set.they}}</li>
            <li>{{document.pronoun_set.them}}</li>
            <li>{{document.pronoun_set.their}}</li>
            <li>{{document.pronoun_set.theirs}}</li>
            <li>{{document.pronoun_set.themselves}}</li>
            <li>Document Property</li>
            <li>{{document.they}}</li>
            <li>{{document.them}}</li>
            <li>{{document.their}}</li>
            <li>{{document.theirs}}</li>
            <li>{{document.themselves}}</li>
        </ul>
    </fieldset>
    <fieldset>
        <label>Region</label>
        <input-array name="region" multiselect="true" value="{{document.region}}">
            {{!document.region.options}}
            <option value="invalid">Invalid Option</option>
        </input-array>
    </fieldset>
    <fieldset>
        <label>Number of items</label>
        <input type="text" name="order_count" value="{{document.order_count}}">
    </fieldset>
    <fieldset>
        <input-object-array name="test" value="{{document.test}}">
            <template>
                <fieldset>
                    <label>Foo</label>
                    <input name="foo">
                    <label>Bar</label>
                    <input name="bar">
                </fieldset>
            </template>
        </input-object-array>
    </fieldset>
    <input type="submit" value="Submit">
</form-request>

<form-request method="POST" action="/api/v1/debug/confirm">
    <input type="hidden" name="hidden" value="Some value">
    <input type="submit" value="Confirm">
</form-request>