<flex-table id="header">
    <flex-row>
        <flex-header><input type='checkbox'></flex-header><flex-header>Test</flex-header><flex-header>Data</flex-header>
    </flex-row>
    <flex-row>
        <flex-cell><input type='checkbox' value="1"></flex-cell><flex-cell>Test</flex-cell><flex-cell>Data</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell><input type='checkbox' value="2"></flex-cell><flex-cell>Test</flex-cell><flex-cell>Data</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell><input type='checkbox' value="3"></flex-cell><flex-cell>Test</flex-cell><flex-cell>Data</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell><input type='checkbox' value="4"></flex-cell><flex-cell>Test</flex-cell><flex-cell>Data</flex-cell>
    </flex-row>
</flex-table>

<flex-table id="no-header">
    <flex-row>
        <flex-cell><input type='checkbox' value="1"></flex-cell><flex-cell>Test</flex-cell><flex-cell>Consectetur adipisicing elit. Aut, rem!</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell><input type='checkbox' value="2"></flex-cell><flex-cell>Test</flex-cell><flex-cell>Lorem, ipsum dolor.</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell><input type='checkbox' value="3"></flex-cell><flex-cell>Test</flex-cell><flex-cell>Exercitationem, repellat?</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell><input type='checkbox' value="4"></flex-cell><flex-cell>Test</flex-cell><flex-cell>Sit amet consectetur adipisicing elit.</flex-cell>
    </flex-row>
</flex-table>

<flex-table id="header">
    <flex-row>
        <flex-header>Test</flex-header><flex-header>Data</flex-header>
    </flex-row>
    <flex-row>
        <flex-cell>Test</flex-cell><flex-cell>Consectetur adipisicing elit. Aut, rem!</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell>Test</flex-cell><flex-cell>Lorem, ipsum dolor.</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell>Test</flex-cell><flex-cell>Exercitationem, repellat?</flex-cell>
    </flex-row>
    <flex-row>
        <flex-cell>Test</flex-cell><flex-cell>Sit amet consectetur adipisicing elit.</flex-cell>
    </flex-row>
</flex-table>
