<meta property="og:title" content="{{og.title}}" />
<meta property="og:type" content="{{app.opengraph.type}}" />
<meta property="og:url" content="{{request.url}}" />
<meta property="og:site_name" content="{{app.app_name}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:image" content="https://{{app.domain_name}}{{page.splash_image.filename()}}" />
<meta property="og:image:width" content="{{page.splash_image.width()}}" />
<meta property="og:image:height" content="{{page.splash_image.height()}}" />
{{!og.author_tags}}
