<hgroup>
    <h1>Edit Post <span id="title"></span></h1>
</hgroup>
<div class="vbox" id="container">
    <form-request method="PUT" action="{{update_action}}" id="post-manager">
        <fieldset id="primary-content">
            <legend>Primary Content</legend>
            <label>Title</label>
            <div class="hbox"><input name='title' value="{{post.title}}" for="title"></div>
            <div id="slug">
                <!-- <span>Link: </span> -->
                <a href="{{post.public_link}}" is>http://{{app.domain_name}}{{href}}</a>
                <input name="url_slug" value="{{post.url_slug}}">
            </div>
            <markdown-area name='body' placeholder="Share your thoughts...">{{post.body}}</markdown-area>
            <!-- @view("/parts/markdown-guide.html"); -->

        </fieldset>

        <fieldset id="post-meta">
            <legend>Post Metadata</legend>
            <div>
                <label>Author</label>
                <select name='author'>{{!post.author.options}}</select>
            </div>
            <div>
                <label>Publication Date</label>
                <div>
                    <input type="date" name='publicationDate' value="{{post.publicationDate}}">
                    <input type="time" name='publicationTime' value="{{post.publicationTime}}">
                </div>
            </div>
            <div id="excerpt">
                <label>Excerpt</label>
                <textarea name='excerpt'>{{post.excerpt}}</textarea>
            </div>
            <div id="default_image" {{!post.default_image.display}}>
                <select name="alignment.position">{{!post.alignment.position.options}}</select>
                <!-- <radio-group name="alignment.position" value="{{post.alignment.position}}">
                    <div>
                    </div>
                    <div>
                        <input type="radio" name="alignemnt.position" value="top left">
                        <input type="radio" name="alignemnt.position" value="top center">
                        <input type="radio" name="alignemnt.position" value="top right">
                        <input type="radio" name="alignemnt.position" value="center left">
                        <input type="radio" name="alignemnt.position" value="center center">
                        <input type="radio" name="alignemnt.position" value="center right">
                        <input type="radio" name="alignemnt.position" value="bottom left">
                        <input type="radio" name="alignemnt.position" value="bottom center">
                        <input type="radio" name="alignemnt.position" value="bottom right">
                    </div>
                    <div>
                    </div>
                </radio-group> -->
            </div>
            <ul class="list-panel">
                <li>
                    <label>
                        <input-switch name='published' checked="{{post.published}}"></input-switch> Published
                    </label>
                </li>
                <li>
                    <label>
                        <input-switch name="prominent" checked="{{post.prominent}}"></input-switch> Featured
                    </label>
                </li>
            </ul>

            <button type="submit">Update</button>
        </fieldset>
    </form-request>
    
    <form-request id="file-manager" method="POST" action="{{upload_action}}">
        <fieldset id="attachments">
            <label>Attachments</label>
            <input type="file" name='attachments' multiple="multiple">
            <button type="submit">Upload</button>
        </fieldset>
    </form-request>
    {{!post.attachments.display}}
    {{!pretty}}
</div>
<script>
    (() => {
        const jsPath = "https://unpkg.com/easymde/dist/easymde.min.js";
        console.log("Loaded");
    })
</script>


<style>
    form-request {
        overflow:visible;
    }

    fieldset {
        border: var(--project-calendar-borders);
        background: var(--project-calendar-cell-bg);
    }

    #primary-content {
        display:flex;
        flex-direction: column;
    }

    #container {
        gap: 10px;
    }

    #post-manager {
        width:100%;
        display:grid;
        grid-template-columns: 1fr .2fr;
        grid-template-rows: 100%;
        gap: inherit;
    }
    
    input[name="title"] {
        width:100%;
        box-sizing: border-box;
    }

    #slug a {
        color:rgba(0,0,0,.3);
        
    }
    #slug {
        display: flex;
        margin: 1ch 0;
        align-items: center;
    }
    #slug input {
        flex-grow:1;
    }
    
    textarea[name='body']{
        display: block;
        height: 30ch;
        width: 100%;
        padding: 2ch 2ch;
        box-sizing: border-box;
        resize: vertical;
        flex-grow:1;
    }

    textarea[name='excerpt'] {
        resize: vertical;
        display: block;
        height: 11ch;
    }

    #post-meta {
        display:flex;
        flex-direction: column;
        gap: inherit;
    }

    #excerpt {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    textarea[name="excerpt"] {
        flex-grow: 1;
    }

    #default_image {
        background-image: url();
        background-color: rgba(0,0,0,.2);
        height:200px;
        width: 200px;
        background-size: cover;
    }
    
    [name="alignment.position"] {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        overflow:hidden;
        background: rgba(255,255,255,.8);
    }
    
    #default_image input {
        opacity: .1;
        transition: opacity .4s;
        /* box-shadow: 0 0 15px black; */
    }

    #default_image:hover input {
        opacity: .9;
    }

    #default_image input:hover{
        opacity: 1;
    }

    [name="alignment.position"] > div {
        display: flex;
        width:100%;
        flex-direction: row;
        justify-content: space-between;
    }
    [name="alignment.position"] > div:first-of-type {
        align-items: flex-start;
    }
    [name="alignment.position"] > div:last-of-type {
        align-items: flex-end;
    }

    ul.list-panel li {
        padding: .5rem;
    }
</style>
