<meta property="og:title" content="{{title}} | {{app.app_name}}" />
<meta property="og:type" content="{{opengraph.type}}" />
<meta property="og:url" content="{{request.url}}" />
<meta property="og:site_name" content="{{app.app_name}}" />
<meta property="og:description" content="{{opengraph.description}}" />
<meta property="og:image" content="https://{{app.domain_name}}{{opengraph.image}}" />
<meta property="og:image:width" content="{{opengraph.image_X}}" />
<meta property="og:image:height" content="{{opengraph.image_Y}}" />