@set("title", "Array Prototype");
<h1>{{title}}</h1>

<table>
    <tr>
        <th>Value: </th><td>{{type.array.json()}}</td>
    </tr>
    <tr>
        <th>Display: </th><td>{{type.array.display()}}</td>
    </tr>
    <tr>
        <th>Join: </th><td>{{type.array.join("; ")}}</td>
    </tr>
    <tr>
        <th>Push: </th><td>{{$type.array.push("push")}}</td>
    </tr>
    <tr>
        <th>Pop: </th><td>{{type.array.pop()}}</td>
    </tr>
    <tr>
        <th>Shift: </th><td>{{type.array.shift()}}</td>
    </tr>
    <tr>
        <th>Unshift: </th><td>{{$type.array.unshift()}}</td>
    </tr>
    <tr>
        <th>Array Select: </th><td>{{type.array.1}}</td>
    </tr>
    <tr>
        <th>Array Last: </th><td>{{type.array.last()}}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Array 0: </th>
        <td>{{type.array.0.toUpperCase()}}</td>
    </tr>
    <tr>
        <th>Array 1: </th>
        <td>{{type.array.1}}</td>
    </tr>
</table>

<form-request method="POST" action="/api/v1/proto/">
    <ul class="list-panel">
        <li>
            <label>Filter Result</label>
            {{type.array.field()}}
        </li>
        <li>
            <button type="submit">Filter</button>
        </li>
    </ul>
</form-request>