@set("title", "string Prototype");
<h1>{{title}}</h1>

<table>
    <tr>
        <td>Value: </td><td>{{type.string}}</td>
    </tr>
    <tr>
        <td>Display: </td><td>{{type.string.display()}}</td>
    </tr>
</table>

<form-request method="POST" action="/api/v1/proto/">
    <ul class="list-panel">
        <li>
            <label>Filter Result</label>
            {{type.string.field()}}
        </li>
        <li>
            <button type="submit">Filter</button>
        </li>
    </ul>
</form-request>