@set("title", "MapResult Prototype");
<h1>{{title}}</h1>

<table>
    <tr>
        <td>JSON-ified: </td><td><textarea>{{$type.submap}}</textarea></td>
    </tr>
    <tr>
        <td>Headline: </td><td>{{type.submap.headline}}</td>
    </tr>
    <tr>
        <td>Subheadline: </td><td>{{type.submap.subheadline}} {{type.submap.subheadline.length()}}</td>
    </tr>
    <tr>
        <td>Nested Value 1: </td><td>{{type.submap.nested.data1}}</td>
    </tr>
    <tr>
        <td>Nested Value 2: </td><td>{{type.submap.nested.data2.list()}}</td>
    </tr>
    <tr>
        <td>Nested2 Value 3:</td><td>{{type.submap.nested.nested2.markdown.md()}}</td>
    </tr>
    <tr>
        <td>Nested2 Value 4:</td><td>{{type.submap.nested.nested2.bool}}</td>
    </tr>
</table>

<form-request method="POST" action="/api/v1/proto/">
    <ul class="list-panel">
        <li>
            <label>Filter Result</label>
        </li>
        <li>
            <label>Nested2 Value</label>
            {{type.submap.nested.nested2.markdown.field("textarea")}}
        </li>
        <li>
            <button type="submit">Filter</button>
        </li>
    </ul>
</form-request>