<section id="login-form-container">
    <section class="login-hero-sidebar"></section>
    <login-form-request id="login-form" action="/api/v1/login/" method="POST" complete="refresh" @csrf_attribute();>
        <fieldset>
            <legend>Sign to {{app.app_short_name}}</legend>
            <input type="username" name="username" placeholder="Username/Email">

            <input type="password" name="password" placeholder="Password">

            <input type="hidden" name="stay_logged_in" value="false">
            <label><input-switch name="stay_logged_in" tiny></input-switch> Stay logged in</label>
            <span class="error"></span>
            <button type="submit">Sign In</button>
            {{!create_account}}
        </fieldset>
    </login-form-request>
</section>