<section id="login-form-container">
    <section class="login-hero-sidebar"></section>
    <form id="login-form" action="/api/v1/login/" method="POST" complete="refresh">
        <h1>Login to {{app.app_short_name}}</h1>
        <fieldset>
            <input type="username" name="username" placeholder="Username/Email">
        </fieldset>
        <fieldset>
            <input type="password" name="password" placeholder="Password">
        </fieldset>
        <fieldset>
            <input type="hidden" name="stay_logged_in" value="false">
            <label><input type="checkbox" name="stay_logged_in" value="true"> Stay logged in</label>
        </fieldset>
        <span class="error"></span>
        <button>Sign In</button>
        <hr>
        <a href="/onboard/">Sign Up</a>
    </form>
</section>