<a class="cobalt-notification cobalt-notification-{{ntfy.version}}" href="{{ntfy.action}}">
    <div class="cobalt-notification--from">{{!ntfy.from?name}} says:</div>
    <div class="cobalt-notification--body">
        {{!ntfy.body.display}}
    </div>
    <div class="cobalt-notification--foot">
        <date-span value="{{ntfy.sent.raw}}" format="relative"></date-span>
        &bull;
        <async-button method="GET" action="/api/notifications/{{ntfy._id}}/recipients/">Sent to {{ntfy.for.display}}</async-button>
    </div>
</a>
