<li>
    <notification-item data-id="{{ntfy._id}}" class="notifications--notification-container notifications--notification-container-{{ntfy.version}}" href="{{ntfy.action}}">
        <div class="notification--from">
            {{!ntfy.from.uname}}
            <action-menu stop-propagation="true" type="options" title="Notification">
                <option method="PUT" action="/api/notifications/{{ntfy._id}}/status/{{ntfy.for.readInverse.display}}" onload="window.Cobalt.NotificationsPanel.updateById('{{ntfy._id}}', event)">Mark as "{{ntfy.myReadState}}"</option>
                <option onclick="modalView('/api/notifications/{{ntfy._id}}/update')">Edit</option>
                <option method="DELETE" action="/api/notifications/{{ntfy._id}}/delete" onload="removeNearest(this, '.notifications--notification-container')">Delete</option>
                <option onclick="modalView('/api/notifications/{{ntfy._id}}/recipients/')">See all recipients</option>
            </action-menu>
        </div>
        <div class="notification--body">
            {{!ntfy.body.md()}}
        </div>
        <div class="notification--foot">
            {{ntfy.sent.relative()}}
            <async-button method="GET" action="">Sent to {{ntfy.for.length()}} user@plural("$ntfy.for");</async-button>
        </div>
    </notification-item>
</li>
