<!doctype html>
<html lang="en-US" class="{{context.html_class}}">

<head>
    <meta charset="utf-8">
    <title>{{title}} | {{app.app_name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="version" content='{{app.version}}'>
    <meta name="theme-color" content="#fafafa">
    <meta name="engine" content="Powered by Heavy Element's Cobalt Engine" href="https://heavyelement.io/">
    @maybe_with("$og_template");
    <link
        href="https://fonts.googleapis.com/css?family={{app.fonts.head.import}}|{{app.fonts.body.import}}&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    @app_settings@

    @app_meta@
    @style_meta@
    {{!html_head_binding}}
    @router_table@
    <link rel="manifest" href="site.webmanifest?{{app.version}}">
    <link rel="apple-touch-icon" href="/icon.png?{{app.version}}">
</head>

<body id="{{body_id}}" class="{{body_class}}">
    <noscript>
        {{app.name}} <strong>REQUIRES</strong> JavaScript. Basic functionality <strong>will not work</strong>
        without JavaScript enabled. Please enable JavaScript or upgrade your
        browser.{{!noscript_binding_after}}</noscript>
    <label id="nav-menu-spawn" for="nav-menu-spawn-nojs">
        <ion-icon name="menu"></ion-icon>
    </label>
    <input type="checkbox" id="nav-menu-spawn-nojs">
    <header>
        {{!header_binding_before}}
        @header_content@
        {{!header_binding_middle}}
        @session_panel@
        @user_menu@
        {{!header_binding_after}}
    </header>
    @auth_panel@
    <main id="{{main_id}}">
        {{!main_content_binding_before}}
        @main_content@
        {{!main_content_binding_after}}
    </main>
    <footer>
        {{!footer_binding_before}}
        @footer_content@
        {{!footer_binding_after}}
        @footer_credits@
    </footer>
    @script_content@
</body>

</html>