<!doctype html>
<html lang="en-US" class="{{context.html_class}}">
<script>
    // Some user agents don't support (or don't enable) JavaScript. Therefore we
    // should keep track of any content that would be hidden because of JS and
    // style around that issue.
    document.getElementsByTagName("html")[0].classList.add("js")
</script>
<head>
    <meta charset="utf-8">
    <title>{{title}} | {{app.app_name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="version" content='{{app.version}}'>
    <meta name="theme-color" content="#fafafa">
    <meta name="engine" content="Powered by Heavy Element's Cobalt Engine" href="https://heavyelement.io/">
    @maybe_with("$og_template");
    <link
        href="https://fonts.googleapis.com/css?family={{app.fonts.head.import}}|{{app.fonts.body.import}}&display=swap"
        rel="stylesheet">
    <link href="/core-content/css/material-design/css/material.min.css?{{app.verion}}" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    @app_settings@

    @app_meta@
    @style_meta@
    {{!html_head_binding}}
    @router_table@
    <link rel="apple-touch-icon" href="{{app.logo.media.filename}}?{{app.version}}">
    <script>
        window.__ = JSON.parse('@get_exportables_as_json()');
    </script>
</head>

<body id="{{body_id}}" class="{{body_class}}">
    <a id="sr-skip-to-content" href="{{main_id}}" class="sr-only">Skip to content</a>
    <noscript>
        {{app.name}} <strong>REQUIRES</strong> JavaScript. Basic functionality <strong>will not work</strong>
        without JavaScript enabled. Please enable JavaScript or upgrade your
        browser.{{!noscript_binding_after}}
    </noscript>
    <button id="nav-menu-spawn" aria-pressed="false"
        aria-controls="app-header" aria-expanded="false" 
    >
        <span class="visually-hidden">Menu</span>
        <i name="menu"></i>
    </button>
    <header id="app-header">
        {{!header_binding_before}}
        @header_content@
        {{!header_binding_middle}}
        @session_panel@
        @user_menu@
        {{!header_binding_after}}
    </header>
    @post_header@
    @auth_panel@
    <main id="{{main_id}}">
        {{!main_content_binding_before}}
        @main_content@
        {{!main_content_binding_after}}
    </main>
    {{!post_main_content}}
    <footer>
        {{!footer_binding_before}}
        @footer_content@
        {{!footer_binding_after}}
        @footer_credits@
    </footer>
    @notify_panel@
    @cookie_consent@
    @script_content@
</body>
</html>
