<div id="cookie-consent">
    <p>We wanted to let you know that we use cookies to enhance your web browsing experience.</p>
    <p>Cookies are an essential part of the web and we can't turn them off completely. But you have a choice:</p>
    <div class="hbox">
        <a class="cookie-consent-false" onclick="consent_cookie('essential_only')">Use only essential cookies</a>
        <button class="button cookie-consent-true" onclick="consent_cookie('all')">All cookies are fine</button>
    </div>
</div>