<hgroup>
    <h1>{{title}}</h1>
</hgroup>

<fieldset class="control-panel">
    <legend>Presentation Settings</legend>
    {{!presentation_settings}}
</fieldset>
<fieldset class="control-panel">
    <legend>Application Settings</legend>
    {{!application_settings}}
</fieldset>
<!-- <fieldset class="control-panel">
    <legend>Public Settings</legend>
    {{!public_settings_panel}}
</fieldset> -->
<fieldset class="control-panel">
    <legend>Advanced Settings</legend>
    {{!advanced_settings}}
</fieldset>
<style>
    .control-panel:has(.directory--group:empty) {
        display: none;
    }
    .directory--icon-group {
        display: flex;
        list-style: none;
        gap: 1em;
    }

    .directory--icon-group a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: normal;
        text-decoration: none;
        height: 5.5rem;
        width: 5.5rem;
        padding: 1em;
        border-radius: .5rem;
        background-color:white;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .directory--icon-group i {
        font-size: 5rem;
    }

    .directory--group:has(ul:empty) {
        display: none;
    }
    @media only screen and (max-width: 35em) {
        .directory--icon-group {
            display: flex;
            flex-direction: column;
        }
    }
</style>
